<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /admis/
RewriteRule ^/admis/index\.html$ - [L]

RewriteCond %{REQUEST_URI} !\.(js|html|css|map|json)$
RewriteCond %{REQUEST_URI} !robots\.txt$
RewriteRule . /admis/index.html [L]
</IfModule>