<h1>Alle Lån</h1>
<table class="table table-hover selectable-table">
	<thead>
		<tr>
			<th>Nummer</th>
			<th>Stregkode</th>
			<th>Studie nr</th>
			<th>Udlånsdato</th>
			<th>Afleveringsdato</th>
			<th>Leveringsdato</th>
			<th>Leveret til</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="loan in loans">
			<td>{{loan.loanId}}</td>
			<td>{{loan.barcode}}</td>
			<td><a ng-if="loan.studentId" href="students/{{loan.studentId}}">{{loan.studentId}}</a></td>
			<td>{{loan.loanDate}}</td>
			<td>{{loan.dueDate}}</td>
			<td>{{loan.deliveryDate}}</td>
			<td>{{loan.deliveredTo}}</td>
			<td width="72"><button type="button" class="btn btn-xs btn-primary" ng-click="openLoan(loan)">Vis</button></td>
		</tr>
	</tbody>
</table>


<!--
                    loanId: "0",
                    barcode: "0"
                    studentId: "s144886"
                    loanDate: "12"
                    dueDate: "12"
                    deliveryDate: "12"
                    deliveredTo: "12"
-->