<div class="col">
	<p>Her findes en liste over komponenterne. Du kan søge i alle komponenterne i søge feltet.</p>
	<p>Du kan tilføje nye komponenter, rette komponenter og fjerne komponenter.</p>
</div>
<h1>Komponent grupper <button type="button" class="btn btn-xs btn-primary" ng-click="createGroup()">Tilføj</button></h1>
<table class="table table-hover selectable-table">
	<thead>
		<tr>
			<th>Navn</th>
			<th></th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="group in componentGroups" ng-class="{'success': group == selectedGroup}">
			<td ng-click="selectGroup(group)">{{group.name}}</td>
			<td ng-click="selectGroup(group)"></td>
			<td ng-click="selectGroup(group)">{{group.status}}</td>
			<td width="72"><button type="button" class="btn btn-xs btn-success" ng-click="editGroup(group)">Rediger</button></td>
		</tr>
	</tbody>
</table>
<h1>Komponenter <button type="button" class="btn btn-xs btn-primary" ng-click="createComponents()">Tilføj</button></h1>
<div>
	<input type="text" ng-model="search" class="form-control" placeholder="Søg i komponenter">
</div>
<table class="table">
	<thead>
		<tr>
			<th>Stregkode</th>
			<th>Komponent gruppe</th>
			<th>Nummer</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="component in components | filter:{group: selectedGroup.name} : true | filter: search as results">
			<td>{{component.barcode}}</td>
			<td>{{component.group}}</td>
			<td>{{component.number}}</td>
			<td></td>
			<td width="72"><button type="button" class="btn btn-xs btn-success" ng-click="editGroup(group)">Rediger</button></td>
		</tr>
		<tr ng-show="results.length==0">
			<td colspan="4" class="text-center"><em>Ingen komponenter matchede søgningen</em></td>
		</tr>
	</tbody>
</table>
