<h1>Studerende</h1>

<div class="row">
	<div class="col-xs-12 col-sm-4 col-lg-3">
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="sort.active" uib-btn-checkbox>Aktive <span class="badge">{{numberOfActive(students)}}</span></label>
			<label class="btn btn-primary" ng-model="sort.inactive" uib-btn-checkbox>Deaktiverede <span class="badge">{{numberOfInactive(students)}}</label>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-lg-9">
		<input type="text" ng-model="search" class="form-control" placeholder="Søg i studerende">
	</div>
</div>


<table class="table table-hover selectable-table">
	<thead>
		<tr>
			<th>Studie nr</th>
			<th>Navn</th>
			<th>Status</th>
			<th class="show-button"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in students | statusSort: sort : true | filter: search as results" ng-click="openStudent(student)">
			<td>{{student.studentId}}</td>
			<td>{{student.name}}</td>
			<td>{{student.status | studentStatus}}</td>
			<td class="text-right show-button"><button type="button" class="btn btn-xs btn-info">Vis</button></td>
		</tr>
		<tr ng-show="results.length==0">
			<td colspan="4" class="text-center"><em>Ingen studerende matchede søgningen</em></td>
		</tr>
	</tbody>
</table>