<h1>Komponent gruppe <button type="button" class="btn btn-xs btn-success" ng-click="editGroup(group)">Rediger</button></h1>
<h2>{{group.name}}</h2>
<table class="table">
	<thead>
		<tr>
			<th>Stregkode</th>
			<th>Nummer</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="component in group.components | filter: search as results">
			<td>{{component.barcode}} <button type="button" class="btn btn-xs btn-primary" ng-click="copyClipart(group)">Copy</button></td>
			<td>{{component.number}}</td>
			<td>{{component.status | studentStatus}}</td>
			<td width="72"><button type="button" class="btn btn-xs btn-success" ng-click="openComponent(component)">Rediger</button></td>
		</tr>
		<tr ng-show="results.length==0">
			<td colspan="4" class="text-center"><em>Ingen komponenter matchede søgningen</em></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td><input type="text" name="number" ng-model="number" class="form-control"></td>
			<td colspan="2"><button type="submit" class="btn btn-success" ng-click="createComponent()">Tilføj</button></td>
		</tr>
	</tfoot>
</table>